.headerContacUs{

    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border : solid 0.5px #bbb;
    background-color: #ebebeb;;

}
.buttonHedaerHome{

    margin-left: 5px;
    height: 30px;
    width: 100px;
    border-radius: 50%;
    color: white;
    background-color: black;
}

.alingInput{
    display: flex;
    justify-content: center;

    input{
        height: 200px;
        width: 400px;
    }
}