.center{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container_login{
    border: solid 0.5px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}
.formAling{
    margin: 10px;

    h3{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.buttonAling{

    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputTam{

    width: 230px;
    height: 23px;
    border-radius:5%;
}
.buttonLogin{
    color: white;
    background-color: #bbb;
    border-radius: 10%;
}