@import "./properties";

.suggestions {
    margin-top: 1.25em;
    width: 270px;

    .titleContainer {
        display: flex;
        justify-content: space-between;
        font-size: 0.8em;
        font-weight: 500;
        color: $font-color-secondary;
        margin-bottom: 1.25em;

        a{
            color: black;
        }
    }

    .title{
        min-width: 200px;
    }

    a{
        width: 100%;
        text-align: right;

        .seeSuggestions{
            color: black;

        }
    }
}